{:paths ["src"]
 :extra-paths ["resources"]
 :deps {environ  {:mvn/version "1.1.0"}
        clj-http {:mvn/version "3.6.1"}
        http-kit {:mvn/version "2.2.0"}
        cheshire {:mvn/version "5.6.3"}
        clj-time {:mvn/version "0.5.1"}
        }

 :aliases
 {:nrepl
  {:extra-paths ["dev"]
   :extra-deps {spyscope                      {:mvn/version "0.1.6"}
                org.clojure/clojure           {:mvn/version "1.10.0"}
                org.clojure/tools.nrepl       {:mvn/version "0.2.13"}
                cider/cider-nrepl             {:mvn/version "0.20.0"}
                refactor-nrepl/refactor-nrepl {:mvn/version "2.4.0"}}
   :jvm-opts ^:replace ["-XX:-OmitStackTraceInFastThrow"]}
  :uberjar
  {:extra-paths ["resources"]
   :extra-deps {pack/pack.alpha {:git/url "https://github.com/juxt/pack.alpha.git"
                                 :sha     "81b9e47d992b17aa3e3af1a47aed1f0287ebe9b8"}}
   :main-opts ["-m" "mach.pack.alpha.capsule" "app.jar"
               "-m" "app.core"]}

  :runner {:extra-paths ["test"]
           :extra-deps {com.cognitect/test-runner {:git/url "https://github.com/cognitect-labs/test-runner.git"
                                                   :sha "209b64504cb3bd3b99ecfec7937b358a879f55c1"}}
           :main-opts ["-m" "cognitect.test-runner"]}}}
